<tbody>

<div class="col-sm-6 col-sm-offset-3 bubble-wrapper">
<%= image_tag '08-help2@3x.png', class:"text-bubble" %>
<div class="game-txt">

	<p><%#= @correct %></p>
	<p><%#= @quote %></p>
	<p><%#= @incorrect %></p>
	<p class="quote">
	<% @incorrect_quote.each do |v| %>
		<% if @incorrect.word.include? v.to_s %>
			<span data-info="1"><%= v %></span>
		<% else %>
	    <span data-info="0"><%= v %></span>
	    <% end %>
	<% end %>
	</p>
	<p class="author"><%= @quote.author %></p>
	</div>	
</div>
	
</tbody>