<h1>Gameplay#match</h1>
<p>Find me in app/views/gameplay/match.html.erb</p>

<tbody>
	<tr>
		<td><%= @correct %></td>
		<td><%= @quote %></td>
		<td><%= @incorrect %></td>
		<td><%= @incorrect_quote %></td>
	</tr>
</tbody>