
<p>Find me in app/views/gameplay/round.html.erb</p>
<div class="container">
  <tbody>
  	<tr>
  		<td><%= current_user %></td>
  		<td>VS</td>
  		<td><%= @opponent %></td>
  	</tr>
  	<tr>
    <div class="col-sm-4 col-sm-offset-4">
  		<td><%= link_to image_tag("next_btn@3x.png", border: 0), gameplay_match_path, class:"play-btn"  %></td>
    </div>  
  	</tr>
  </tbody>
</div>