<h1>Gameplay#round</h1>
<p>Find me in app/views/gameplay/round.html.erb</p>

  <tbody>
  	<tr>
  		<td><%= current_user %></td>
  		<td>VS</td>
  		<td><%= @opponent %></td>
  	</tr>
  	<tr>
  		<td><%= link_to 'Next ', gameplay_match_path %></td>
  	</tr>
  </tbody>
