/* Place all the styles related to the pages controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/ */
body{
	background-image: url('../assets/bg1@3x.png');
	background-repeat: no-repeat;
	background-size: cover;
}
img{
    width: 100%;
}
ul{
	list-style: none;
}
a:focus, a:hover{
	text-decoration: none!important;
    background-color: transparent!important;
}
.sound-on, .config, .contact, .user{
    cursor: pointer;
}
.teacher{
  margin: 0 auto;
}
.nav-toggle{
    width: 40px;
    height: 62px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/menu-new.png');
    margin-top: 0px;
    border: none;
    margin-bottom: 0;
    background-size: 28px 20px;
    background-color: inherit;
}
.regular-btn a{
	color: #fff;
}
.regular-btn a:visited{
	color: #fff;
}
.regular-btn li{
	margin-top: 10px;
}
.play-btn{

}
.play-btn a{
    font-size: 30px;
}
.login li{
    float: right;
}
.newgame-btn{
    display: inline-block;
    margin: 10px;
}
/*== ROUND ==*/
.round-title p{
    font-size: 40px;
    text-align: center;
    margin: 50px;
}
.vs p{
   font-size: 40px;
   text-align: center; 
}
.p-2{
    text-align: center;
}


/*== MATCH ==*/
.bubble-wrapper{
    position: relative;
    margin-top: 8%;
}
.game-txt{
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 15%;
    text-align: center;
    left: 0;
    right: 0;
    max-width: 450px;
    margin: 0 auto;
}
.game-txt p{
    font-family: 'Indie Flower', cursive;
    font-size: 46px;
    line-height: 60px;
    display: inline-block;
}
.author{
    color: #6c4890;
    margin-top: 50px ;
}

.quote span:hover {
    color: green;
    cursor: pointer;
}